@import "~materialize-css/sass/materialize";
#cursor {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2000;
}

body {
  @extend .blue-grey, .darken-4;
}

.px-2 {
  padding: 0 2rem;
}

.py-2 {
  padding: 2rem 0;
}
